<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuwoom.apihooker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="cydia.permission.SUBSTRATE" />

    <application>
        <meta-data
            android:name="com.saurik.substrate.main"
            android:value=".SubstrateMain" />
    </application>

</manifest>